.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-group-1 {
  width: 593px;
  min-height: 577px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 78px;
  height: 78px;
  margin: 66px 138px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(15deg);
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -43px 401px 0 128px;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 96px;
  height: 96px;
  margin: 25px auto 0 74px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 72px;
  height: 72px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(335deg);
  padding: 0;
}

.u-section-1 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 82px;
  height: 82px;
  margin: -82px 89px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
}

.u-section-1 .u-image-1 {
  width: 553px;
  height: 537px;
  margin: -267px auto 0 20px;
}

.u-section-1 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 69px;
  height: 69px;
  margin: -503px 34px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 55px;
  height: 55px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(343.26deg);
}

.u-section-1 .u-image-3 {
  width: 52px;
  height: 52px;
  animation-timing-function: ease;
  margin: -56px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -355px 138px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 1px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 55px;
  height: 55px;
  margin: -258px 25px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 55px;
  height: 55px;
  margin: 244px 343px 0 auto;
}

.u-section-1 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 45px;
  height: 45px;
  margin: 141px 487px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 39px;
  height: 39px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(170.47deg);
}

.u-section-1 .u-image-7 {
  width: 55px;
  height: 55px;
  margin: 314px 74px 0 auto;
}

.u-section-1 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 65px;
  height: 49px;
  margin: -527px 179px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 52px;
  height: 52px;
  animation-timing-function: ease;
  margin: -381px 293px 0 auto;
}

.u-section-1 .u-rotation-parent-7 {
  animation-timing-function: ease;
  width: 56px;
  height: 56px;
  margin: 29px 207px 42px auto;
}

.u-section-1 .u-image-9 {
  width: 47px;
  height: 47px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(12.32deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-group-1 {
    width: 534px;
    min-height: 472px;
    height: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 61px;
    height: 61px;
    margin-top: 52px;
    margin-right: 146px;
  }

  .u-section-1 .u-icon-1 {
    width: 50px;
    height: 50px;
  }

  .u-section-1 .u-icon-2 {
    width: 50px;
    height: 50px;
    margin-top: -41px;
    margin-right: auto;
    margin-left: 113px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 66px;
    height: 66px;
    margin-top: 42px;
    margin-left: 72px;
  }

  .u-section-1 .u-icon-3 {
    width: 50px;
    height: 50px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 64px;
    height: 64px;
    margin-top: -66px;
    margin-right: 113px;
  }

  .u-section-1 .u-icon-4 {
    width: 50px;
    height: 50px;
  }

  .u-section-1 .u-image-1 {
    width: 463px;
    height: 452px;
    margin-top: -223px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 64px;
    height: 54px;
    margin-top: -418px;
  }

  .u-section-1 .u-image-2 {
    height: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: -293px;
    margin-right: 107px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-image-4 {
    width: 38px;
    height: 38px;
    margin-top: -215px;
    margin-right: 42px;
  }

  .u-section-1 .u-image-5 {
    width: 44px;
    height: 44px;
    margin-top: 236px;
    margin-right: 72px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-top: -11px;
    margin-right: 425px;
  }

  .u-section-1 .u-image-7 {
    width: 41px;
    height: 41px;
    margin-top: 204px;
    margin-right: 267px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -375px;
  }

  .u-section-1 .u-image-8 {
    transform-origin: center center;
    width: 59px;
    height: 40px;
    transform: translateX(-50%) translateY(-50%) rotate(170.47deg);
    top: -290px;
  }

  .u-section-1 .u-rotation-parent-7 {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-right: 146px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-image-9 {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-group-1 {
    width: 379px;
    min-height: 355px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 49px;
    height: 49px;
    margin-top: 33px;
    margin-right: 90px;
  }

  .u-section-1 .u-icon-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: 95px;
    padding: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 60px;
    height: 60px;
    margin-top: 44px;
    margin-left: 44px;
  }

  .u-section-1 .u-icon-3 {
    width: 45px;
    height: 45px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 58px;
    height: 58px;
    margin-right: 55px;
  }

  .u-section-1 .u-icon-4 {
    width: 45px;
    height: 45px;
  }

  .u-section-1 .u-image-1 {
    width: 344px;
    height: 362px;
    margin-top: -187px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 54px;
    height: 46px;
    margin-top: -348px;
    margin-right: 7px;
  }

  .u-section-1 .u-image-2 {
    width: 46px;
    height: 34px;
  }

  .u-section-1 .u-image-3 {
    width: 32px;
    height: 32px;
    margin-top: -43px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -212px;
    margin-right: 67px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 6px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -182px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 166px;
    margin-right: 59px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 36px;
    height: 43px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-6 {
    width: 30px;
    top: 0;
    right: -100px;
    left: 140px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 203px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -374px;
  }

  .u-section-1 .u-rotation-parent-7 {
    width: 50px;
    height: 50px;
    margin-top: -31px;
    margin-right: 171px;
    margin-bottom: 61px;
  }

  .u-section-1 .u-image-9 {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-group-1 {
    width: 289px;
    min-height: 316px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 42px;
    margin-right: 55px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -34px;
    margin-left: 73px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: 20px;
    margin-left: 25px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: -64px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-1 {
    width: 272px;
    height: 316px;
    margin-top: -170px;
    margin-left: 17px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 45px;
    height: 38px;
    margin-top: -310px;
    margin-right: -23px;
  }

  .u-section-1 .u-image-2 {
    width: 39px;
    height: 28px;
  }

  .u-section-1 .u-image-3 {
    width: 27px;
    height: 27px;
    margin-top: -27px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -190px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 28px;
    height: 28px;
    margin-top: 22px;
    margin-right: 163px;
  }

  .u-section-1 .u-image-5 {
    width: 36px;
    height: 36px;
    margin-top: -196px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-top: 588px;
    margin-right: 225px;
    margin-left: 157px;
  }

  .u-section-1 .u-image-6 {
    inset: -400px -100px 500px 160px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 753px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -640px;
    margin-right: 172px;
  }

  .u-section-1 .u-rotation-parent-7 {
    width: 34px;
    height: 34px;
    margin-top: -691px;
    margin-right: 61px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-group-1 {
    width: 154px;
    min-height: 239px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 31px;
    height: 31px;
    margin-top: 48px;
    margin-right: 27px;
  }

  .u-section-1 .u-icon-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-1 .u-icon-2 {
    width: 30px;
    height: 30px;
    margin-top: -29px;
    margin-left: 36px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 33px;
    height: 33px;
    margin-top: 11px;
    margin-left: 8px;
  }

  .u-section-1 .u-icon-3 {
    width: 25px;
    height: 25px;
    margin-right: -19px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 38px;
    height: 38px;
    margin-top: -36px;
    margin-right: 6px;
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    width: 27px;
    height: 27px;
    padding: 0;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
    height: 236px;
    margin-top: -127px;
    margin-left: 1px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 43px;
    height: 30px;
    margin-top: -221px;
    margin-right: -19px;
  }

  .u-section-1 .u-image-2 {
    height: 20px;
  }

  .u-section-1 .u-image-3 {
    width: 20px;
    height: 20px;
    margin-top: -38px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -142px;
    margin-right: 48px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 1px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 28px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-5 {
    width: 27px;
    height: 27px;
    margin-top: -153px;
    margin-right: 27px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 45px;
    height: 45px;
    margin-top: 89px;
    margin-right: 128px;
    margin-left: 30px;
  }

  .u-section-1 .u-image-6 {
    width: 39px;
    inset: 0px -100px 0px 160px;
    object-position: 50% 50%;
  }

  .u-section-1 .u-image-7 {
    width: 28px;
    height: 28px;
    margin-top: -150px;
    margin-right: 125px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: 1006px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    top: -670px;
    left: 120px;
    margin-right: 288px;
  }

  .u-section-1 .u-rotation-parent-7 {
    width: 24px;
    height: 24px;
    margin-top: -939px;
    margin-right: 85px;
  }

  .u-section-1 .u-image-9 {
    width: 20px;
    height: 20px;
    top: -40px;
    left: 90px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 265px;
}

.u-section-2 .u-icon-1 {
  width: 52px;
  height: 52px;
  margin: 35px auto 0 18px;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 52px;
  height: 52px;
  animation-timing-function: ease;
  margin: -113px 45px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 552px;
  height: 195px;
  margin: 9px auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 52px;
  height: 52px;
  background-image: none;
  margin: -64px auto 0 428px;
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: -157px 0 0 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-2 .u-icon-1 {
    width: 40px;
    height: 40px;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -84px;
    margin-right: 47px;
  }

  .u-section-2 .u-image-2 {
    width: 353px;
    height: 229px;
    margin-top: -8px;
  }

  .u-section-2 .u-icon-2 {
    width: 41px;
    height: 41px;
    margin-top: -90px;
    margin-left: 295px;
    padding: 7px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -130px;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-icon-1 {
    width: 32px;
    height: 32px;
    margin-top: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 46px;
    height: 46px;
    margin-top: -73px;
  }

  .u-section-2 .u-image-2 {
    width: 322px;
    height: 170px;
    margin-top: -5px;
  }

  .u-section-2 .u-icon-2 {
    width: 32px;
    height: 32px;
    margin-top: -67px;
    margin-left: 264px;
    padding: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -109px;
    margin-bottom: 25px;
    margin-left: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    height: 152px;
  }

  .u-section-2 .u-icon-2 {
    width: 23px;
    height: 23px;
    margin-top: -54px;
    margin-left: 219px;
    padding: 3px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -90px;
    margin-bottom: 39px;
    margin-left: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-2 .u-icon-1 {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 23px;
    height: 23px;
    margin-top: -54px;
    margin-right: 101px;
  }

  .u-section-2 .u-image-2 {
    width: 249px;
    height: 146px;
    margin-top: 0;
    margin-left: 32px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -43px;
    margin-right: 70px;
    margin-left: auto;
    padding: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin: 25px 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 485px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 31px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-1 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -65px 33px 0 136px;
}

.u-section-3 .u-group-2 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -127px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-2 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -65px 33px 0 136px;
}

.u-section-3 .u-group-3 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -127px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-3 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -65px 33px 0 136px;
}

.u-section-3 .u-group-4 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 36px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-4 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -54px 12px 0 136px;
}

.u-section-3 .u-group-5 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -127px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-5 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -54px 33px 0 136px;
}

.u-section-3 .u-group-6 {
  width: 356px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 127px;
  --radius: 10px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -127px 0 59px auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-6 {
  width: 83px;
  height: 83px;
  margin: 22px auto 0 20px;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -54px 33px 0 136px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    margin-right: 192px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 133px;
    margin-top: 34px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-5 {
    margin-top: -130px;
    margin-right: 194px;
    height: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-6 {
    margin-top: -291px;
    margin-right: 192px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 344px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -62px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 342px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 29px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -71px;
    margin-right: 18px;
    margin-left: 137px;
  }

  .u-section-3 .u-group-3 {
    width: 344px;
    min-height: 126px;
    margin-top: 33px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 32px;
    margin-left: 125px;
  }

  .u-section-3 .u-group-4 {
    width: 342px;
    margin-top: 35px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -56px;
    margin-right: 22px;
    margin-left: 112px;
  }

  .u-section-3 .u-group-5 {
    width: 344px;
    min-height: 133px;
    margin-top: -133px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 28px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -52px;
    margin-right: 32px;
    margin-left: 125px;
  }

  .u-section-3 .u-group-6 {
    width: 342px;
    min-height: 133px;
    margin-top: -297px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -49px;
    margin-right: 24px;
    margin-left: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-1 {
    width: 253px;
    min-height: 106px;
  }

  .u-section-3 .u-icon-1 {
    width: 62px;
    height: 62px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -47px;
    margin-right: 32px;
    margin-left: 98px;
  }

  .u-section-3 .u-group-2 {
    width: 251px;
    min-height: 105px;
    margin-top: -106px;
  }

  .u-section-3 .u-icon-2 {
    width: 62px;
    height: 62px;
    margin-top: 26px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -51px;
    margin-right: 20px;
    margin-left: 97px;
    font-size: 1rem;
  }

  .u-section-3 .u-group-3 {
    width: 252px;
    min-height: 105px;
    margin-top: 31px;
  }

  .u-section-3 .u-icon-3 {
    width: 63px;
    height: 63px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: -48px;
    margin-right: 17px;
    margin-left: 95px;
  }

  .u-section-3 .u-group-4 {
    width: 251px;
    min-height: 105px;
    margin-top: -105px;
  }

  .u-section-3 .u-icon-4 {
    width: 63px;
    height: 63px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: -40px;
    margin-left: 95px;
  }

  .u-section-3 .u-group-5 {
    width: 252px;
    min-height: 105px;
    margin-top: 30px;
  }

  .u-section-3 .u-icon-5 {
    width: 63px;
    height: 63px;
    margin-top: 22px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: -40px;
    margin-right: 45px;
    margin-left: 99px;
  }

  .u-section-3 .u-group-6 {
    width: 252px;
    min-height: 105px;
    margin-top: -105px;
  }

  .u-section-3 .u-icon-6 {
    width: 63px;
    height: 63px;
    margin-top: 19px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: -39px;
    margin-right: 71px;
    margin-left: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 37px;
  }

  .u-section-3 .u-group-1 {
    width: 247px;
    min-height: 73px;
    margin-top: 118px;
  }

  .u-section-3 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -40px;
    margin-right: 34px;
    margin-left: 95px;
  }

  .u-section-3 .u-group-2 {
    width: 247px;
    min-height: 73px;
    margin-top: -166px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -41px;
    margin-right: 43px;
    margin-left: 93px;
  }

  .u-section-3 .u-group-3 {
    min-height: 73px;
    width: 247px;
    margin-top: 113px;
  }

  .u-section-3 .u-icon-3 {
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -40px;
    margin-right: 24px;
    margin-left: 94px;
  }

  .u-section-3 .u-group-4 {
    min-height: 73px;
    width: 247px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -33px;
    margin-right: 12px;
  }

  .u-section-3 .u-group-5 {
    min-height: 73px;
    width: 247px;
    margin-top: 20px;
  }

  .u-section-3 .u-icon-5 {
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -32px;
    margin-right: 59px;
    margin-left: 94px;
  }

  .u-section-3 .u-group-6 {
    width: 247px;
    min-height: 73px;
    margin: 20px auto 46px 0;
  }

  .u-section-3 .u-icon-6 {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -31px;
    margin-right: 58px;
    margin-left: 95px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before,
.u-section-3 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before,
.u-section-3 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-4,
.u-section-3 .u-group-4:before,
.u-section-3 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before,
.u-section-3 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-5.u-group-5.u-group-5:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-5.u-group-5.u-group-5.hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-6,
.u-section-3 .u-group-6:before,
.u-section-3 .u-group-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-6.u-group-6.u-group-6:hover {
  transform: translateX(0px) translateY(-8px) !important;
}

.u-section-3 .u-group-6.u-group-6.u-group-6.hover {
  transform: translateX(0px) translateY(-8px) !important;
} .u-section-4 {
  min-height: 255px;
}

.u-section-4 .u-image-1 {
  width: 48px;
  height: 48px;
  margin: 29px calc(((100% - 1140px) / 2)  + 224px) 0 auto;
}

.u-section-4 .u-image-2 {
  width: 48px;
  height: 48px;
  margin: 101px auto 0 calc(((100% - 1140px) / 2)  + 260px);
}

.u-section-4 .u-image-3 {
  --radius: 10px;
  width: 198px;
  height: 197px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -197px auto 0 calc(((100% - 1140px) / 2)  + 45px);
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -174px 238px 0 calc(((100% - 1140px) / 2)  + 297px);
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 31px calc(((100% - 1140px) / 2)  + 195px) 59px calc(((100% - 1140px) / 2)  + 296px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 218px;
  }

  .u-section-4 .u-image-1 {
    width: 36px;
    height: 36px;
    margin-top: 37px;
    margin-right: calc(((100% - 940px) / 2)  + 120px);
  }

  .u-section-4 .u-image-2 {
    width: 40px;
    height: 40px;
    margin-top: 82px;
    margin-left: calc(((100% - 940px) / 2)  + 173px);
  }

  .u-section-4 .u-image-3 {
    width: 173px;
    height: 172px;
    margin-top: -172px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -149px;
    margin-right: 188px;
    margin-left: calc(((100% - 940px) / 2)  + 196px);
  }

  .u-section-4 .u-text-2 {
    width: 548px;
    margin: 23px auto 37px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 249px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 22px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 190px);
  }

  .u-section-4 .u-image-2 {
    margin-top: 19px;
    margin-right: calc(((100% - 720px) / 2)  + 78px);
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -80px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -158px;
    margin-right: calc(((100% - 720px) / 2)  + 59px);
    margin-left: calc(((100% - 720px) / 2)  + 250px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin: 17px calc(((100% - 720px) / 2)  + -16px) 59px calc(((100% - 720px) / 2)  + 250px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 185px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 10px;
    margin-left: calc(((100% - 540px) / 2)  + 150px);
  }

  .u-section-4 .u-image-2 {
    width: 32px;
    height: 32px;
    margin-top: 85px;
    margin-right: calc(((100% - 540px) / 2)  + 11px);
  }

  .u-section-4 .u-image-3 {
    width: 142px;
    height: 141px;
    margin-top: -141px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -129px;
    margin-right: calc(((100% - 540px) / 2)  + 95px);
    margin-left: calc(((100% - 540px) / 2)  + 193px);
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin: 22px calc(((100% - 540px) / 2)) 41px calc(((100% - 540px) / 2)  + 193px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 140px;
  }

  .u-section-4 .u-image-1 {
    width: 23px;
    height: 23px;
    margin-left: calc(((100% - 340px) / 2)  + 119px);
  }

  .u-section-4 .u-image-2 {
    width: 21px;
    height: 21px;
    margin-top: 64px;
    margin-right: calc(((100% - 340px) / 2)  + 16px);
  }

  .u-section-4 .u-image-3 {
    width: 108px;
    height: 108px;
    margin-top: -108px;
    margin-left: calc(((100% - 340px) / 2)  + 1px);
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -97px;
    margin-right: calc(((100% - 340px) / 2)  + 16px);
    margin-left: calc(((100% - 340px) / 2)  + 138px);
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    margin: 13px calc(((100% - 340px) / 2)) 29px calc(((100% - 340px) / 2)  + 137px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 532px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 850px 0 0;
}

.u-section-5 .u-group-1 {
  width: 356px;
  height: auto;
  --radius: 15px;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  min-height: 338px;
  margin: 31px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 14px;
}

.u-section-5 .u-image-1 {
  height: 164px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 15px;
  --top-right-radius: 15px;
}

.u-section-5 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 13px 14px 0;
}

.u-section-5 .u-group-2 {
  width: 356px;
  height: auto;
  --radius: 15px;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  min-height: 338px;
  margin: -338px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 14px;
}

.u-section-5 .u-image-2 {
  height: 164px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 15px;
  --top-right-radius: 15px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 13px 14px 0;
}

.u-section-5 .u-group-3 {
  width: 354px;
  height: auto;
  --radius: 15px;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  min-height: 338px;
  margin: -338px 0 60px auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 14px;
}

.u-section-5 .u-image-3 {
  height: 164px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 15px;
  --top-right-radius: 15px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 13px 14px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 622px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    margin-right: 192px;
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
    margin: 37px auto 50px 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 282px;
  }

  .u-section-5 .u-group-1 {
    width: 344px;
  }

  .u-section-5 .u-group-2 {
    width: 342px;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 226px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-group-1 {
    width: 253px;
    min-height: 284px;
  }

  .u-section-5 .u-image-1 {
    height: 133px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-group-2 {
    width: 251px;
    min-height: 284px;
    margin-top: -284px;
  }

  .u-section-5 .u-image-2 {
    height: 133px;
  }

  .u-section-5 .u-text-3 {
    font-weight: 600;
    font-size: 0.875rem;
  }

  .u-section-5 .u-group-3 {
    width: 253px;
    min-height: 283px;
    margin-top: 36px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-3 {
    height: 133px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-right: 114px;
  }

  .u-section-5 .u-group-1 {
    width: 226px;
    min-height: 247px;
    margin-top: 22px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-group-2 {
    width: 226px;
    min-height: 233px;
    margin-top: 268px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    height: 110px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
    margin-right: 20px;
  }

  .u-section-5 .u-group-3 {
    width: 226px;
    min-height: 233px;
    margin-top: -481px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    height: 110px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-right: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 301px;
}

.u-section-6 .u-group-1 {
  width: 552px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 183px;
  --radius: 10px;
  margin: 59px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  width: 83px;
  height: 83px;
  margin: 34px auto 0 20px;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -83px 31px 0 125px;
}

.u-section-6 .u-group-2 {
  width: 552px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 183px;
  --radius: 10px;
  margin: -183px 0 59px auto;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  width: 83px;
  height: 83px;
  margin: 34px auto 0 20px;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  margin: -83px 31px 0 125px;
}

.u-section-6 .u-btn-1 {
  --radius: 10px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 26px auto 0 125px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-6 .u-group-1 {
    width: 453px;
    min-height: 213px;
    transition-duration: 0.5s;
    margin-top: 60px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 33px;
  }

  .u-section-6 .u-group-2 {
    width: 450px;
    transition-duration: 0.5s;
    min-height: 213px;
    margin-top: -213px;
    margin-bottom: 62px;
    height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 33px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -64px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 25px;
    margin-right: 121px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-6 .u-group-1 {
    width: 438px;
    margin-top: 36px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 110px;
  }

  .u-section-6 .u-group-2 {
    width: 438px;
    margin: 26px auto 36px 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-group-1 {
    width: 445px;
    min-height: 152px;
    margin-top: 26px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-left: 117px;
  }

  .u-section-6 .u-group-2 {
    width: 445px;
    min-height: 155px;
    margin-bottom: 53px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 14px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-left: 121px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-6 .u-group-1 {
    min-height: 182px;
    width: 306px;
  }

  .u-section-6 .u-icon-1 {
    width: 62px;
    height: 62px;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -63px;
    margin-right: 32px;
    margin-left: 82px;
  }

  .u-section-6 .u-group-2 {
    min-height: 121px;
    width: 306px;
  }

  .u-section-6 .u-icon-2 {
    width: 54px;
    height: 53px;
    margin-top: 30px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -53px;
    margin-right: 34px;
    margin-left: 80px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 6px;
    margin-right: 77px;
    padding: 5px 17px 6px 16px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 295px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 31px;
  margin-bottom: 60px;
  min-height: 101px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(6, calc(16.6667% - 9.16667px));
  min-height: 101px;
  grid-auto-columns: calc(16.6667% - 9.16667px);
  grid-gap: 11px;
}

.u-section-7 .u-list-item-1 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-1 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-2 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-2 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-3 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-3 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-4 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-4 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-5 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-5 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-6 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-6 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-list-item-7 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-7 {
  width: 121px;
  height: 77px;
  margin: -8px auto 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 31px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 31px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(6, calc(16.666666666666668% - 9.166670000000002px));
    grid-auto-columns: calc(16.666666666666668% - 9.166670000000002px);
  }

  .u-section-7 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-list-item-3 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-7 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-list-item-7 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7.333336px));
    grid-auto-columns: calc(33.333333333333336% - 7.333336px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.500002px));
    grid-auto-columns: calc(50% - 5.500002px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}.opacity {
	opacity: 50;
}